.SearchForm-wrapper {
  padding-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: auto;
  color: #17191e;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.formHeader {
  font-size: 26px;
  margin: 10px 0px;
}

input[type=text] {
  height: 8vh;
  width: 50vw;
  align-self: center;
  font-size: calc(16px + 1vmin);
  text-align: left;
  padding-left: 8px;
}

.formOptions {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
  font-size: calc(10px + 1vmin);
}

.formOptions label {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

select {
  background-color: #282c34;
  color: white;
  padding-left: 10px;
}

input[type=submit] {
  flex: initial;
  align-self: center;
  width: 100px;
  height: 40px;
  border: 1px solid #282c34;
  border-radius: 3px;
  background-color: #282c34;
  color: #f0f2f4;
  font-size: 20px;
  margin-bottom: 1vh;
}

input[type=submit]:active {
  background-color: #093b9f;
} 

@media only screen and (max-width: 500px) {
  input[type=text] {
    font-size: calc(10px + 0.4vmin);
  }

  input[type=text]:focus {
    font-size: calc(16px + 1vmin);
  }
}
@media only screen and (max-width: 375px) {
  input[type=text] {
    font-size: calc(8px + 0.5vmin);
  }

  input[type=text]:focus {
    font-size: calc(16px + 1vmin);
  }
}