ul, li {
  list-style: none;
  color: #17191e;
  padding: 0px;
}

span {
  font-weight: 600;
}

.BookList-outer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  padding: 0px;
  margin: 0px;
}

.BookListItem {
  display: flex;
  width: 30vw;
  margin: 15px;
}

.BookListItem-list{
  display: flex;
  flex-direction: column;
}