ul, li {
  list-style: none;
  color: #17191e;
  padding: 0px;
  font-size: calc(10px + 1vmin);
}

a {
  color: #226599;
  font-weight: 700;
  text-decoration: none;
}

a:visited {
  color: #553788;
}

span {
  font-weight: 600;
}

.BookList-outer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  padding: 0px;
  margin: 0px;
}

.BookListItem {
  display: flex;
  width: 30vw;
  margin: 15px;
  justify-content: center;
}

.BookListItem-list{
  display: flex;
  flex-direction: column;
}